:root{
    --corFundo : rgba(39, 25, 77, 0.986);


}

*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(49, 0, 128, 0.616);
}

header{
    background: #444;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    display: none;
    flex-direction: column;
    background: #444;
    width: 100%;
    text-align: center;
}

#menu.show{
    display: flex;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div{
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0; /* dá um respiro */
}


/* Primeira imagem: do início até metade de tecnologias */
#bg-1 {
  background-image: url('../assets/backgrounds/first_wallpaper.jpg');
}

/* Segunda imagem: do meio de tecnologias até projetos maiores */
#bg-2 {
  background-image: url('../assets/backgrounds/second_wallpaper.jpg');
}

/* Terceira imagem: do projetos maiores até o fim */
#bg-3 {
  background-image: url('../assets/backgrounds/last_wallpaper.jpg');
}


#presentation_img{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#projects_img{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#container_presentation{
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-width: 3px;
    border-radius:100px;
    margin-left: 20vw;
    margin-right: 20vw;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#container_presentation h1, #container_presentation p, #container_basic h2, #container_basic p{
    color: white;
}

#container_prof_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container_prof_img img {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-radius: 150px;
}

#container_basic{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius:100px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    margin-left: 20Vw;
    margin-right: 20vw;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#container_teclist{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 20vw;
    margin-right: 20vw;
}

#container_teclist h2{
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

#container_teclist img{
    height: 7vw;
}


#container_tec {
    display: grid; /* Ativar Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas, ocupando frações iguais da tela (1fr + 1fr = 50% + 50%) */
    gap: 15px; /* espaço entre os itens */
    padding-left: 6vw;
    
}

#container_tec ul {
    list-style: none; /* tira bolinhas */
    padding: 0;
    margin: 0;
    display: contents; /* deixa o grid aplicar direto nos <li> */
}

#container_tec li {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre ícone e texto */
    font-weight: bolder;
}

#container_projectlist{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    margin-left: 7vw;
    margin-right: 7vw;
}

#container_projectlist h2{
    justify-content: center;
    display: flex;
    margin: 10px;
}

#container_projects {
    display: grid;  /* Ativar Grid Layout */
    grid-template-rows: repeat(3, 1fr); /* 3 linhas fixas, cada linha ocupa 1 porção (33+33+33) */
    grid-auto-flow: column;             /* cria colunas automáticas */
    grid-auto-columns: 250px;           /* cada coluna = 1 projeto */
    gap: 15px;
    overflow-x: auto;  /* scroll horizontal */
    overflow-y: hidden; 
    height: auto;     /* altura fixa pra caber 3 linhas */
    padding: 10px;
}

.projects {
    display: flex;
    flex-direction: column; /* deixa os elementos (img, h3, p) empilhados verticalmente */
    align-items: center;    /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente, se quiser */
    padding: 10px;
    background-color: #bdbdbd; /* exemplo de cor, você pode mudar */
    border-radius: 10px;
    border: 2px solid #000000;
    height: 180px; /* ajuste conforme necessidade */
}

#container_projects img {
    height: 70px;
    width: 70px;
    transition: transform 0.3s ease; /* animação suave */
}

#container_projects img:hover{
    transform: scale(1.7); /* aumenta a imagem em 50% */
    z-index: 10; /* garante que fique por cima */
}
#container_projects h3, 
#container_projects p {
    margin: 5px 0;
}

#container_futere_projects{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 7VW;
    margin-right: 7VW;
    margin-top: 50px;
    margin-bottom: 50px;
}

#personal {
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 7VW;
    margin-right: 7VW;
    margin-top: 50px;
    margin-bottom: 50px;
}

#languages{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 7VW;
    margin-right: 7VW;
    margin-top: 50px;
    margin-bottom: 50px;
}

#languages li {
    display: grid; /* Ativar Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas, ocupando frações iguais da tela (1fr + 1fr = 50% + 50%) */
    gap: 15px; /* espaço entre os itens */
    font-weight: bolder;
    display: flex;
    margin: 15px;
}

#academics {
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 7VW;
    margin-right: 7VW;
    margin-top: 50px;
    margin-bottom: 50px;
}

#academics li{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    list-style: none;
}

#academics p{
    font-weight: bolder;
}

#soft-skills{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 7VW;
    margin-right: 7VW;
    margin-top: 50px;
    margin-bottom: 50px;
}

#soft-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    list-style: none; /* opcional, remove bolinhas */
    padding: 0;
    margin: 20px 10px;
    padding: 5px;
}

footer{
    background-color: #000000;
    color: white;
    height: auto;
    max-height: 170px;
}

footer img{
    height: 50px;
}

#contact ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, fr);
    gap: 10px;
    list-style: none;
}

#contact li{
    background-color: white;
    border: 3px solid black;
    border-radius: 40px;
}

#contact a{
    color: black;
    justify-content: center;
}

