
/* To do list ::
    -Arrumar rodapé
    -Refazer NavBar
    -Reutilizar para página de dentro do projeto

*/

:root{ /* :root é para salvar variaves reutilizaveis */
    --corFundo : rgba(39, 25, 77, 0.986);
    --Transparent : rgba(50, 50, 50, 0.1);

}

*{ /* seta padding e margin da pagina toda para 0 */
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    background: #444;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    display: none;
    flex-direction: column;
    background: #444;
    width: 100%;
    text-align: center;
}

#menu.show{
    display: flex;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div{
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0;
}

/* Primeira imagem: do início até metade de tecnologias */
#bg-1 {
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 90%, rgb(0, 0, 0, 1) 100%), url('../assets/backgrounds/first_wallpaper.jpg');
}

/* Segunda imagem: do meio de tecnologias até projetos maiores */
#bg-2 {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7 )90%, rgba(0, 0, 0, 1) 100%), linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 90%, rgb(0, 0, 0, 1) 100%), url('../assets/backgrounds/second_wallpaper.jpg');
    background-position: left;
}

/* Terceira imagem: do projetos maiores até o fim */
#bg-3 {
    background-image:linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7 )90%, rgba(0, 0, 0, 1) 100%), linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 90%, rgb(0, 0, 0, 1) 100%) , url('../assets/backgrounds/last_wallpaper.jpg');
}


#presentation_img{ /* Para deixar a foto redonda e centralizada */
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#projects_img{
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#container_presentation{
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-width: 3px;
    border-radius:100px;
    margin-left: 5vw;
    margin-right: 5vw;

    /* Deixar transparente */
    backdrop-filter: blur(15px);
    background: rgba(130, 130, 130, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#container_presentation h1, #container_presentation p, #container_basic h2, #container_basic p{
    color: white;
}

#container_presentation h1{
    font-size: 20px;
    width: 30ch;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30);
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}

@keyframes typing{
    from{
        width : 0ch; 
    }
}

#container_prof_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container_prof_img img {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-radius: 150px;
}

#container_basic{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius:100px;
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    backdrop-filter: blur(15px);
    background: rgba(50, 50, 50, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

/* animação de surgir */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* começa levemente abaixo */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* todos começam invisíveis */
#container_presentation p,
#container_prof_img,
#container_basic {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

/* delays diferentes */
#container_presentation p {
  animation-delay: 3s; /* depois da animação do h1 */
}

#container_prof_img {
  animation-delay: 4s; /* aparece 1s depois */
}

#container_basic {
  animation-delay: 5s; /* mais 1s depois */
}

#container_teclist{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#container_teclist h2{
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
}

#container_teclist img{
    height: 5vw;
}


#container_tec {
    display: grid; /* Ativar Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas, ocupando frações iguais da tela (1fr + 1fr = 50% + 50%) */
    gap: 15px; /* espaço entre os itens */
    padding-left: 6vw;
    
}

#container_tec ul {
    list-style: none; /* tira bolinhas */
    padding: 0;
    margin: 0;
    display: contents; /* deixa o grid aplicar direto nos <li> */
}

#container_tec li {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre ícone e texto */
    font-weight: bolder;
}

#container_projectlist{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#container_projectlist h2{
    justify-content: center;
    display: flex;
    margin: 10px;
}

#container_projects {
    display: grid;  /* Ativar Grid Layout */
    grid-template-rows: repeat(3, 1fr); /* 3 linhas fixas, cada linha ocupa 1 porção (33+33+33) */
    grid-auto-flow: column;             /* cria colunas automáticas */
    grid-auto-columns: 250px;           /* cada coluna = 1 projeto */
    gap: 15px;
    overflow-x: auto;  /* scroll horizontal */
    overflow-y: hidden; 
    height: auto;     /* altura fixa pra caber 3 linhas */
    padding: 10px;
    
}

.projects {
    display: flex;
    flex-direction: column; /* deixa os elementos (img, h3, p) empilhados verticalmente */
    align-items: center;    /* centraliza horizontalmente */
    justify-content: center; /* centraliza verticalmente, se quiser */
    padding: 10px;
    background-color: #bdbdbd; /* exemplo de cor, você pode mudar */
    border-radius: 10px;
    border: 2px solid #000000;
    height: 180px; /* ajuste conforme necessidade */

    backdrop-filter: blur(15px);
    background: rgba(222, 222, 222, 0.1);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#container_projects img {
    height: 70px;
    width: 70px;
    transition: transform 0.3s ease; /* animação suave */
}

#container_projects img:hover{
    transform: scale(1.7); /* aumenta a imagem em 50% */
    z-index: 10; /* garante que fique por cima */
}
#container_projects h3, 
#container_projects p {
    margin: 5px 0;
}

#container_futere_projects{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#personal {
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50px;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#languages{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 50px;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#languages li {
    display: grid; /* Ativar Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* 2 colunas, ocupando frações iguais da tela (1fr + 1fr = 50% + 50%) */
    gap: 15px; /* espaço entre os itens */
    font-weight: bolder;
    display: flex;
    margin: 15px;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#academics {
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
    
}

#academics li{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    list-style: none;

    backdrop-filter: blur(15px);
    background: rgba(222, 222, 222, 0.1);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
    
}

#academics p{
    font-weight: bolder;
}

#soft-skills{
    margin: 20px 10px; /* margem como os outros containers */
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white; 
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50px;
    margin-bottom: 50px;

    backdrop-filter: blur(15px);
    background: var(--Transparent);
    border: 1px solid rgba(132, 132, 132, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.);
    overflow: hidden;
    color: white;
}

#soft-skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    list-style: none; /* opcional, remove bolinhas */
    padding: 0;
    margin: 20px 10px;
    padding: 5px;
    
}

footer{
    backdrop-filter: blur(15px);
    background: rgba(130, 130, 130, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

footer p{
    color: white;
    padding-bottom: 10px;
}

.socials-container{
    display: flex;
    gap: 4vw;
    justify-content: center;
}

.socials-container a{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px black;
}

.socials-container a svg{
    height: 32px;
}

.socials-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);

}

.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}

.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}